<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
        <p>{{coin.price}}</p>
        <p>{{coin.name}}</p>
        <p>{{coin.symbol}}</p>
        {% if coin.image %}
        <img src="{{coin.image.url}}">
        {% endif %}

</body>
</html>