<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<dl>
    {% for c in coins %}
    <br>
    <dt><a href="{% url 'get_single_coin' c.symbol %}"><strong>{{c.name}}</strong></a></dt>
        <dd> {{c.price}}</dd>
        <dd>{{c.symbol}}</dd>
    {% endfor %}
</dl>


<form method="POST" action="{% url 'get_coins' %}">
    {% csrf_token %}
    {{form.as_p}}
    {% comment %} <input type="text" name="symbol_or_name"> {% endcomment %}
    <button type="submit">submit</button>
</form>
</body>
</html>